*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --color-1:#f33;
  --color-2:#fca;
  --color-header:#50505083;
  --color-header-border:#505050;
  --color-fondo:#000;
  --color-texto-1:#fff;
  --color-text-2:#fd0;
  --color-texto-3:#ff3535;
  --color-texto-4:#505050;
}
body{
  font-family: "Titillium Web", sans-serif;
}
.main{
  width: 100%;
}
/* SECTION */

.section_1{
  background: url("../img/banner.png") no-repeat right top ;
  height: calc(100vh);
}

/* HEADER */

.header{
  background: var(--color-header);
  width: 100%;
  height: 4.688rem;
  display: flex;
  border-bottom: solid 0.125rem var(--color-header-border);
  
}
.header-logo{
  width: 30%;

}
.logo{
  object-fit: cover;
  height: 100%;
  padding: 1.25rem 1.875rem;
}
.nav{
  width: 70%;
  display: flex;
  justify-content:end;
  align-items: center;
  padding-right: 3.125rem;
}
.link{
  text-decoration: none;
  color: var(--color-texto-1);
  margin: 1% 3%;
  font-size: 1.2em;
}
.link:hover{
  color: var(--color-texto-3);
}

/* BANNER */

.banner{
  width: 100%;
  height:calc(100vh - 4.688rem);
  display: flex;
  align-items: center;
}
.banner_text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_title{
  font-size: 3em;
  color: var(--color-2);
  line-height: 0;
}
.banner_title2{
  font-size: 5em;
  color: var(--color-texto-1);
}
.text{
  font-size: 1.5em;
  color: var(--color-texto-1)
}
.banner_link{
  width: 25%;
  background: var(--color-1);
  color: var(--color-texto-1);
  text-decoration: none;
  padding: 1.25rem 1.875rem;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.2em;
  border-radius: 1.563rem;
}

/* NOSOTROS */

.container{
  margin: auto;
}
.section_2{
  width: 75%;
  margin: auto;
  padding: 4.688rem 0;
}
.section_2-title{
  font-family:'roboto',sans-serif;
  font-size: 2.5rem;
  color: var(--color-texto-3);
  font-weight: bold;
  margin: 1.563rem 0;
}
.us{
  display: flex;

}
.us-text{
  width: 60%;
  padding: 0 10% 0 0;
}
.us-paragrah{
  font-family:'roboto',sans-serif;
  font-size: 1.125rem;
  color: var(--color-texto-4);
  text-align: justify;
  
}
.paragrah-text{
  margin: 0.625rem 0;
}
.us-rs{
  margin: 1.25rem 0 ;
}
.us-rs-title{
  font-family:'roboto',sans-serif;
  font-size: 1.25rem;
  color: var(--color-texto-3);
  font-weight: bold;
  margin: 1.875rem 0;
}
.rs-icon{
  margin: 1.25rem 0;
}
.rs-link{
  margin: 0 0.625rem;
}
.us-img{
  width: 40%;
}
.img-img{
  object-fit: cover;
  width: 100%;
  border-radius: 0.313rem;
}

/* Nuestras Promociones */

.section_3{
  width: 100%;
  background-color: rgba(245, 222, 179, 0.2);
}
.section_3-title{
  font-family: sans-serif, 'roboto';
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--color-texto-3);
  padding-bottom: 2.5rem;
  text-align: center;
}
.us-offer{
  display: flex;
  padding: 0 1.563rem;
  overflow: hidden;
}
.offer{
  width: 20%;
  margin: 0 1.563rem;
}
.offer-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-img img{
  object-fit: cover;
  width: 100%;
}
.offer-price{
  display: flex;
  flex-direction: column;
}
.price-subtitle{
  font-size: 0.75rem;
  color: var(--color-texto-4);
}
.price-price{
  display: flex;
  justify-content: space-between;
}
.price-price h3{
  font-size: 1.5rem;
}
.price-price h4{
  font-size: 1.5rem;
  color: var(--color-texto-3);
}
.offer-price p{
  font-size: 0.75rem;
}

/* galeria */
.container{

}
.section_4{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section_4-title{
  font-family: sans-serif, 'roboto';
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--color-texto-3);
  padding-bottom: 3.125rem 0rem 0.625rem 0rem; 
  text-align: center;
}
.section_4 hr{
  width: 9.375rem;
  height: 0.5rem;
  border: none;
  border-radius: 0.313rem;
  background-color: #ff3535;
}
.galery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3.125rem 0;
}
.galery-content{
  width: 20%;
  display: flex;
}
.galery-content img{
  object-fit: cover;
  width: 100%;
}
